In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("../../data/emails.csv")

In [4]:
df.shape

(517401, 2)

In [14]:
df["date"] = df["message"].map(lambda x : x.split("\n")[1][5:])

In [30]:
df["from"] = df["message"].map(lambda x : x.split("\n")[2][5:])
df["to"] = df["message"].map(lambda x : x.split("\n")[3][3:])
df["subject"] = df["message"].map(lambda x : x.split("\n")[4][7:])
df["content"] = df["message"].map(lambda x : " ".join(x.split("\n")[15:]))
df["date"] = pd.to_datetime(df["date"])
df["time"] = df["date"].map(lambda x : x.time())
df["date"] = df["date"].map(lambda x : x.date())

In [51]:
df.drop("message", axis=1, inplace=True)

In [52]:
df.head()

,file,date,from,to,subject,content,time
0,allen-p/_sent_mail/1.,2001-05-14,phillip.allen@enron.com,tim.belden@enron.com,:,Here is our forecast,23:39:00
1,allen-p/_sent_mail/10.,2001-05-04,phillip.allen@enron.com,john.lavorato@enron.com,: Re:,Traveling to have a business meeting takes th...,20:51:00
2,allen-p/_sent_mail/100.,2000-10-18,phillip.allen@enron.com,leah.arsdall@enron.com,: Re: test,test successful. way to go!!!,10:00:00
3,allen-p/_sent_mail/1000.,2000-10-23,phillip.allen@enron.com,randall.gay@enron.com,:,"Randy, Can you send me a schedule of the sa...",13:13:00
4,allen-p/_sent_mail/1001.,2000-08-31,phillip.allen@enron.com,greg.piper@enron.com,: Re: Hello,Let's shoot for Tuesday at 11:45.,12:07:00

In [34]:
df.iloc[0,1].split("\n")

['Message-ID: <18782981.1075855378110.JavaMail.evans@thyme>',
 'Date: Mon, 14 May 2001 16:39:00 -0700 (PDT)',
 'From: phillip.allen@enron.com',
 'To: tim.belden@enron.com',
 'Subject: ',
 'Mime-Version: 1.0',
 'Content-Type: text/plain; charset=us-ascii',
 'Content-Transfer-Encoding: 7bit',
 'X-From: Phillip K Allen',
 'X-To: Tim Belden <Tim Belden/Enron@EnronXGate>',
 'X-cc: ',
 'X-bcc: ',
 "X-Folder: \\Phillip_Allen_Jan2002_1\\Allen, Phillip K.\\'Sent Mail",
 'X-Origin: Allen-P',
 'X-FileName: pallen (Non-Privileged).pst',
 '',
 'Here is our forecast',
 '',
 ' ']

In [14]:
df.head()

                       file                                            message
0     allen-p/_sent_mail/1.  Message-ID: <18782981.1075855378110.JavaMail.e...
1    allen-p/_sent_mail/10.  Message-ID: <15464986.1075855378456.JavaMail.e...
2   allen-p/_sent_mail/100.  Message-ID: <24216240.1075855687451.JavaMail.e...
3  allen-p/_sent_mail/1000.  Message-ID: <13505866.1075863688222.JavaMail.e...
4  allen-p/_sent_mail/1001.  Message-ID: <30922949.1075863688243.JavaMail.e...